<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="ENVIRONMENT" source="spring.profiles.active"/>

    <property name="SERVICE_NAME" value="${SERVICE_NAME:-unknown-service}"/>
    <property name="ENVIRONMENT" value="${ENVIRONMENT:-local}"/>
    <property name="APP_VERSION" value="1.0.0"/>

    <appender name="STDOUT_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT_JSON_ORIGIN" />
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <appender name="STDOUT_JSON_ORIGIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {"service": "${SERVICE_NAME}", "environment": "${ENVIRONMENT}", "version": "${APP_VERSION}"}
            </customFields>
        </encoder>
    </appender>

    <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{30}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <appender name="FILE_LOCAL_ORIGIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/app-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>20MB</maxFileSize>
                <maxHistory>3</maxHistory>
                <totalSizeCap>200MB</totalSizeCap>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="WARN">
            <appender-ref ref="LOCAL_CONSOLE"/>
            <appender-ref ref="FILE_LOCAL_ORIGIN"/>
        </root>
        <logger name="com.goormgb.be" level="DEBUG"/>
    </springProfile>

    <springProfile name="dev">
        <appender name="FILE_DEV_ORIGIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/backend/application.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/log/backend/app-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>7</maxHistory>
                <totalSizeCap>2GB</totalSizeCap>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <appender name="ASYNC_FILE_DEV" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="FILE_DEV_ORIGIN" />
            <queueSize>1024</queueSize>
            <discardingThreshold>0</discardingThreshold>
        </appender>

        <root level="INFO">
            <appender-ref ref="STDOUT_JSON"/>
            <appender-ref ref="ASYNC_FILE_DEV"/>
        </root>
        <logger name="com.goormgb.be" level="DEBUG"/>
    </springProfile>

    <!--    <springProfile name="prod">-->
    <!--        &lt;!&ndash; 결제 전용 Appender &ndash;&gt;-->
    <!--        <appender name="PAYMENT_LOG_ORIGIN" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--            <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
    <!--                <customFields>-->
    <!--                    {"service": "${SERVICE_NAME}", "log_category": "PAYMENT", "s3_path": "web/prod/payment/"}-->
    <!--                </customFields>-->
    <!--                &lt;!&ndash; HTTP 요청 헤더 자동 수집 &ndash;&gt;-->
    <!--                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">-->
    <!--                    <pattern>-->
    <!--                        {-->
    <!--                        "request_header": {-->
    <!--                        "ip": "%X{request_ip}",-->
    <!--                        "user_agent": "%X{user_agent}",-->
    <!--                        "referer": "%X{referer}",-->
    <!--                        "session_id": "%X{session_id}"-->
    <!--                        }-->
    <!--                        }-->
    <!--                    </pattern>-->
    <!--                </provider>-->
    <!--            </encoder>-->
    <!--        </appender>-->

    <!--        <appender name="ASYNC_PAYMENT" class="ch.qos.logback.classic.AsyncAppender">-->
    <!--            <appender-ref ref="PAYMENT_LOG_ORIGIN" />-->
    <!--            <queueSize>512</queueSize>-->
    <!--            <discardingThreshold>0</discardingThreshold>-->
    <!--        </appender>-->

    <!--        &lt;!&ndash; 결제 로거 (별도 처리) &ndash;&gt;-->
    <!--        <logger name="com.ticketing.payment" level="INFO" additivity="false">-->
    <!--            <appender-ref ref="ASYNC_PAYMENT"/>-->
    <!--        </logger>-->

    <!--        <root level="INFO">-->
    <!--            <appender-ref ref="STDOUT_JSON"/>-->
    <!--        </root>-->
    <!--        <logger name="com.goormgb.be" level="INFO"/>-->
    <!--        <logger name="org.springframework" level="WARN"/>-->
    <!--        <logger name="org.hibernate" level="WARN"/>-->
    <!--    </springProfile>-->

    <logger name="io.opentelemetry" level="WARN"/>
    <logger name="org.springframework.security" level="INFO"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>