spring:
  application:
    name: goormgb

  datasource:
    url: jdbc:postgresql://localhost:5432/goormgb
    username: goormgb
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
